* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: crimson;
    color: white;

}

button:active {
    cursor: pointer;
    scale: 0.95;
}